* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 1em;
}
.map {
  flex: 1;
  position: relative;
}
.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}
.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
body {
  margin: auto;
  display: flex;
}
.sidePanelContainer {
  position: relative;
}
#showSide {
  width: 2rem;
  position: absolute;
  top: 50%;
  right: -2rem;
  height: 100%;
  transform: translateY(-50%);
  z-index: 9999;
}
.sidePanel {
  display: flex;

  height: 100dvh;
  width: 0;
  transition: width 0.3s ease-in-out;
}
.sidePanel.active {
  width: 350px;
}
#city-filters {
  display: flex;

  flex-wrap: wrap;
  width: 100%;
}
#logged-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loginForm {
  width: 20dvw;
  height: 20dvh;
}
#loginForm button {
  margin-top: 1rem;
  width: 40%;
}
#register {
  justify-self: center;
  width: fit-content;
  color: blue;
  padding: 0;
  margin: 0 0 1rem 0;
  text-align: center;
}
#register-dialog {
  text-align: center;
  width: 300px;
  height: 250px;
}
#register-form {
  display: flex;
  flex-direction: column;
}
#register-form * {
  margin: 5px;
}
#login-error {
  color: rgb(211, 50, 50);
  font-size: 14px;
}
.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;
  font-size: 15px;
  width: calc(90% / 3);
}
#contentSection {
}

.sidePanel h2 {
  padding-left: 1rem;
}

.sidePanel ul {
  border-width: 1px;
  border-radius: 30px;
}

.sidePanel li {
  margin: 5px 0;
  list-style: none;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 0;
  right: 2rem;
}
.sidePanel li:hover {
  background-color: #f1f1f1;
}
#restaurantModal.active {
  height: 50dvh;
}
.modal {
  position: relative;
  overflow: hidden auto;
  display: flex;
  height: 0;
  background-color: #e4d8d2;
  text-align: center;
  justify-content: center;
  transition: height 0.3s ease-in-out;
}

.modal-content {
  width: 50%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3rem;
  z-index: 99999;
  justify-content: center;
}
#tabs button {
  height: 3rem;
  width: calc(100% / 5);
  justify-content: space-evenly;
  background-color: #f1f1f1;
}
#tabs button.active {
  background-color: #9c9a9a;
}
table {
  width: 100%;
  border: 1px solid black;
}
th,
td {
  padding: 1rem;
}
.dropdown-content.show {
  display: flex;
}
.dropdown {
  position: absolute;
  top: 10px;
  z-index: 9999;
  margin: 1rem;
  right: 10px;
  pointer-events: all;
}
.dropbtn {
  border: 0;
  border-radius: 30px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  z-index: 9999;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 5rem;
}

#menu-content {
  width: 100%;
}
.dropdown-content {
  justify-content: space-around;
  align-items: center;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  right: 1rem;
  padding: 0 5px;
  border: 0;
  border-radius: 30px;
  text-wrap: nowrap;
  background-color: #f9f9f9;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  cursor: default;
}
.dropdown-content input {
  margin: 4px;
}

.dropdown-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-content a {
  color: black;
  margin: 1rem;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}
.filter {
  display: flex;
  flex-direction: column;
}
.filter * {
  margin: 5px;
  text-align: center;
}
.filter select {
  width: 100px;
}
label {
  display: inline-block;
  width: 140px; /* Adjust width as needed */
  margin-bottom: 5px;
  font-weight: bold;
}

.filter .select-container {
  padding: 0 10px;
}
#settingsModal {
  border: 0;
  border-radius: 30px;
  text-align: center;
  padding: 2rem 3rem;
  display: none;
  position: absolute;
  z-index: 9999;
  top: 20%;
  left: 50%;
  background-color: #fffdfd;
  flex-direction: column;
}
#settingsForm {
  display: flex;
  flex-direction: column;
}
#settingsForm input {
  margin: 5px;
}

#settingsForm button {
  margin-top: 1rem;
}
